git+https://github.com/botswana-harvard/bcpp-clinic-screening.git@52123aad7d83f9cdf8b9efc8e40ed399f2d0f748#egg=bcpp_clinic_screening
git+https://github.com/botswana-harvard/bcpp-clinic-validations.git@6f801ba3ba0884b4c74c615cb766ca3511d151d7#egg=clinic_form_validation
git+https://github.com/botswana-harvard/bcpp-clinic-subject.git@2231e8d8c8f8d1d9e30147e0994cb403debef7b5#egg=clinic_subject
git+https://github.com/erikvw/django-crypto-fields.git@ce9372261106fe482585d5cb583a806a02b859da#egg=django_crypto_fields
git+https://github.com/botswana-harvard/edc-appointment.git@93c9b45b7d4173a739cb206a2eec5adcf647bcc1#egg=edc_appointment
git+https://github.com/botswana-harvard/edc-base@14610bcce68f1fde55ba7dbe8ec4282a604a2994#egg=edc_base
git+https://github.com/botswana-harvard/edc-consent.git@52764e0c96fdd6dff6daaef54a1edab5940ca396#egg=edc_consent
git+https://github.com/botswana-harvard/edc-constants.git@40f5a548c340f02af63d7aafec2c285eeec2b4e5#egg=edc_constants
git+https://github.com/botswana-harvard/edc-dashboard.git@b37f8dd1a031760b6d95f44c25b0deaf5eab9fe4#egg=edc_dashboard
git+https://github.com/botswana-harvard/edc-device.git@5bb10542ee819d370f06a0eeaa95fa03367f6a89#egg=edc_device
git+https://github.com/botswana-harvard/edc-identifier.git@b590f66ac5b7221b025192cad11d029168b654a1#egg=edc_identifier
git+https://github.com/botswana-harvard/edc-lab.git@2d4ae07806d0496b8a6bbd64eec4424c607606ef#egg=edc_lab
git+https://github.com/botswana-harvard/edc-lab-dashboard.git@5380d3a0e9bf1186a75a65125b9ffde7ef581ae5#egg=edc_lab_dashboard
git+https://github.com/botswana-harvard/edc-label.git@7e11a4e7e240741e4874d3631836729ce653bbf5#egg=edc_label
edc-locator==0.2.1
git+https://github.com/botswana-harvard/edc-map.git@984ec5ad6119105ab5d178964a543bc635a4bbd8#egg=edc_map
git+https://github.com/botswana-harvard/edc-metadata.git@2b65f04b51aa0469c48cc87cb5389717e9956022#egg=edc_metadata
git+https://github.com/botswana-harvard/edc-model-wrapper.git@664e467de938d2d6992953a2821fc83633bb2bc1#egg=edc_model_wrapper
edc-offstudy==0.2.0
git+https://github.com/botswana-harvard/edc-protocol.git@8512ca8eee1188bb10a9fdb44b3587ac44cdec4b#egg=edc_protocol
git+https://github.com/botswana-harvard/edc-registration.git@087ff911c3d267765d9d19c31923a9c4f0b833de#egg=edc_registration
git+https://github.com/botswana-harvard/edc-rest.git@9f09bd361532942b95d06dafccf2bcba13bdd982#egg=edc_rest
edc-search==0.1.1
git+https://github.com/botswana-harvard/edc-sync.git@29cb0a3a34bb09c578d0a949bb281b04a5ebe49b#egg=edc_sync
git+https://github.com/botswana-harvard/edc-sync-files.git@153dcabf86c91c6f3e6acc1a8c318ee9d069a07e#egg=edc_sync_files
git+https://github.com/botswana-harvard/edc-timepoint.git@feae8c3a510cd861f070225fda0ba0e67eb9e328#egg=edc_timepoint
git+https://github.com/botswana-harvard/edc-visit-schedule.git@a2b176febe0fce6ecc0126089b6203bd4c3b37b1#egg=edc_visit_schedule
git+https://github.com/botswana-harvard/edc-visit-tracking.git@a655ee527e8001e6cc1662b80d33db8800ce7efd#egg=edc_visit_tracking
git+https://github.com/botswana-harvard/getresults@83e512cdf65ea70c673e9b65f1ff09f4d94cab7e#egg=getresults
git+https://github.com/botswana-harvard/getresults-aliquot@e379b11e079bce497af6508065223c0cfd6bc578#egg=getresults_aliquot
getresults-identifier==0.1.1
git+https://github.com/botswana-harvard/getresults-receive@c8742e2ec0d3ac30088203134e86e8fac1a19c85#egg=getresults_receive
git+https://github.com/botswana-harvard/plot.git@5c0fdb68b967026177a24eb79c65e4b21c654570#egg=plot
